.five{
  &__desc{
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -490px;
  }
  &__svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 475px;
  }
  &__text1{
    font-weight: 700;
    font-size: 100px;
    color: #FFFFFF;
    margin: 20px 0 10px;
  }
  &__text2{
    font-weight: 400;
    font-size: 43px;
    color: #FFFFFF;
  }
  &__btn{
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    background: #326CF9;
    border-radius: 10px;
    padding: 30px 113px;
    margin: 15px 0 26px;
    cursor: pointer;
  }
  &__number{
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
  }
  &__text3{
    font-weight: 400;
    font-size: 38px;
    color: #707070;
  }
  &__box{
    display: flex;
    column-gap: 22px;
  }
  &__box2{
    display: flex;
    column-gap: 11px;
  }
}