.tree {
  padding: 10px 0 260px;
}
.tree__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tree__img {
  margin-top: 176px;
}